[Desktop Entry]
Comment=Silverlock Password Manager Application
Exec=/usr/bin/silverlock.sh
Icon=silverlock
Name=Silverlock
StartupNotify=false
Terminal=false
Type=Application
