<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleSignature</key>
    <string>PETR</string>
    <key>CFBundleDisplayName</key>
    <string>Silverlock</string>
    <key>CFBundleIdentifier</key>
    <string>com.petroules.silverlock.mac</string>
    <key>CFBundleName</key>
    <string>Silverlock</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1.1.2.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.2</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright &#169; 2010-2011 Petroules Corporation</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>sdbx</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>app.icns</string>
            <key>CFBundleTypeName</key>
            <string>com.petroules.silverlock.database</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.petroules.silverlock.database</string>
            </array>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>@EXECUTABLE@</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.petroules.silverlock.database</string>
            <key>UTTypeDescription</key>
            <string>Silverlock Database File</string>
            <key>UTTypeIconFile</key>
            <string>app.icns</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>com.apple.ostype</key>
                <string>SDBX</string>
                <key>public.filename-extension</key>
                <array>
                    <string>sdbx</string>
                </array>
                <key>public.mime-type</key>
                <string>application/octet-stream</string>
            </dict>
        </dict>
    </array>
    <key>CFBundleIconFile</key>
    <string>@ICON@</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en-US</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.5.0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
</dict>
</plist>
